* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#000000;
    color: #ffffff;
    background-color: #2b2b2b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236100fc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Indie Flower';
}
a {
    color: #ffffff;
    text-decoration: none;
}
ul {
    list-style: none;
}

.marginx{
    margin-top: 5px;
}

.container{
    width: 90%;
    margin: auto;
}

/* NAVEGATION */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding:20px;
}

.nav-brand {
    width:80px;
}

/* NAV LEFT*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 20px;
    font-size: 32px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
} 

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right:  30px;
    z-index: 2;
    font-size: 1rem;
    display: none;
}

/* SHOWCASE*/
hr {
    margin: 10px 0px;
}

.showcase {
    width: 100%;
    height: auto;
    background: url('Fondo_showcase.png') no-repeat center center/cover;
    padding: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    font-family: 'Indie Flower';
    font-size: 22px;
}
@media(max-width:400px) {.showcase{font-size: 30%;}}
@media (max-width:600px) {.showcase{padding: 10px;} .showcase p, .showcase h2 {font-size: 12px}}
.btn{
    justify-content: center;
    align-items: center;
    position: relative;
    background: #2f3640;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.1s;
}
.btn:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0.1s;
}

.showcase h2,
.showcase p{
    margin-bottom: 10xp;
    font-size: 42px;

}
/*Banner de poema*/
.poema {
    width: auto;
    height: auto;
    background: url('bannerpoema.png') no-repeat center center/cover;
    color: #c0bfbf;
}
.poema h2 {
    text-align: center;
    font-size: 280%;
    font-family: 'Lobster';
    padding: 15px 0;
}
.poema h3 {
    width: auto;
    font-size: 130%;
    padding: 0px 220px 0 220px;
    text-align: center;
    display: flow-root;
}
.poema p {
    width: auto;
    padding: 4px 1px 2px 330px;
    text-align: start;
    font-size: 125%;
    display: flow-root;
}
.poema h4 {
    text-align: center;
    font-family: 'Lobster';

}
@media (max-width: 750px) {.poema h3{padding: 20px 80px 0 80px}}
@media (max-width: 500px) {.poema h3 {padding:5px 20px 0 20px}.poema p {padding: 4px 1px 2px 50px}}
@media (max-width: 800px) {.poema p {padding: 4px 1px 2px 140px;}}
@media (max-width: 560px) {.poema p {padding: 4px 1px 2px 110px;}}
@media (min-width: 1300px) {.poema p{padding: 4px 1px 2px 530px;}}
@media (max-width: 460px) {.poema p {padding: 4px 1px 2px 40px;}}
/* NEWS CARDS*/
.poemas  {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    margin: 10px 0;
    font-family: 'Lobster';
    /* grid-template-columns: 1fr 1fr 1fr 1fr */
}

.poemas img {
    width: 100%;
    height: 180px 180px;
}
.poemas p{
    font-size:large;
}
.poemas h3{
    font-size: 20px;
    margin: 10px 0;
    font-family: 'Indie Flower', cursive;
}

.poemas a {
    
    padding: 10px;
    color: #230202;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-family: 'Indie Flower';
}

.tarjeta {
    background: #150000;
    border: 2px solid #d3c7c7b0;
    padding: 10px;
}

.tarjeta:hover {
    border: 5px solid #fff;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #838282;
    color: #150000;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0px;
    font-family: 'Indie Flower';
}

.btn:hover {
    opacity: .5;
}
.showcase {
    width: auto;
}
.showcase h1{
    text-align: center;
    text-decoration: #000000 solid;
    text-transform: initial;
    padding: 60px 30px 15px;
    font-size: 300%;

}
.showcase p {
    margin-bottom: 20px;
    text-align: start;
    width: 70%;
    margin: 10px;
    padding: 10px;
}
.showcase h3  {
    margin-bottom: 24px;
    text-align: center;
    margin: 10px;
    padding: 5px 0 0;

}
.body {
    width: auto;
    text-align: center;
}





/* CARDS BANEER ONE*/

.cards-banner-one {
    width: auto;
    height: auto;
    background: url("banner.png") no-repeat center center/cover;
    margin: 25px;
}

.cards-banner-one p,
.cards-banner-one h2 {
    text-align: center;
    padding: 12px 50px;
    font-size: 120%;
}
.cards-banner-one h2 {
    font-size: 200%;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
    width: auto;
    height: auto;
    background:url("banner.png") no-repeat center center/cover;
    margin: 25px;
}

.cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;
}

/* SOCIAL*/
.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
}

.links a {
   margin: 0 30px; 
}

.links a i {
    font-size: 3rem;
    color: #909497;
}

/* FOOTER LINKS*/

.footer-links { 
  background:  #2f3640;
  color: #616161;
  font-size: 22px;
  padding: 35px 0;
}

.footer-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width:900px) {
    .showcase {
        font-size: 105%;
    }

    .nav-main {
        font-size: 10%;
        margin: 0 12px;
        height: 90px;
    }
}


@media (max-width: 700px) {
    
    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background: #1e0000e2;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .6s ease-in-out;
    }

    .body {
        width: 600px;
    } 
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size:  14px;
    }
    
    .nav-main ul.nav-menu-right {
        margin-right: 30px;
    }

    .poemas {
        grid-template-columns: 1fr 1fr;
    }

    .showcase {
        font-size: 120%;
    }

    .cards-banner-one content,
    .cards-banner-two .content {
        width: 80%;
    }
    .info {
        width: 80%;
    }
    .mejora {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
   .poemas {
    grid-template-columns: 1fr;
   }
   .showcase{
    padding: 20px;
   }
   .showcase p{
        font-size: 80%;
    }

    .showcase h1 {
        margin: 15%;
    }
    .body {
        width: 400px;
    } 
   .news-cards img {
    height: 250px;
   }

   .cards-banner-one .content,
   .cards-banner-two .content {
    width: 100%;
    padding: 60px 5px;
   }
   .cards-banner-one p{
    padding: 5px 10px ;
   }
   .footer-links .footer-container{
    grid-template-columns: 1fr;
   }
}

   @media (max-width: 300px) {
    .poemas {
     grid-template-columns: 1fr;
    }
    .nav-main {
        margin: 0;
        padding: 0;
    }
    .body {
        width: 280px;
        font-size: 85%;
    } 
    .showcase {
         font-size: 67%;
     }
 
     .showcase h1 {
         margin: 0%;
     }
     .showcase h3 {
        width: 190px;
     }
     .showcase p {
        width: 170px;
     }
 
    .poemas img {
     height: 250px;
    }
 
    .cards-banner-one .content,
    .cards-banner-two .content {
     width: 100%;
     padding: 60px 20px;
    }

    .info {
        width: 100%;
        padding: 60px 20px;
    }
    .mejora {
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container{
     grid-template-columns: 1fr;
    }
}